html {
  overflow: scroll;
}
.qsmain {
  position: relative;
  top: 75px;
  float: left;
}
.speratorSelction {
  position: absolute;
  top: 200px;
  left: 180px;
  border: solid;
  border-color: cornflowerblue;
}

.startQS {
  position: absolute;
  top: 310px;
  left: 280px;
  border: solid;
  border-color: cornflowerblue;
  display: inline-block;
}

.resetQS {
  position: absolute;
  top: 310px;
  left: 200px;
  border: solid;
  border-color: cornflowerblue;
  display: inline-block;
}
.qsSolutions {
  position: absolute;
  width: 600px;
  top: 200px;
  left: 400px;
  border: solid;
  border-color: cornflowerblue;
}

.displaySetting {
  display: inline-block;
  text-align: center;
}

#qsCalls {
  width: 200px;
  position: absolute;
  top: 0px;
}

#spacer {
  width: 200px;
}

#qsIter {
  position: absolute;
  top: 0px;
  width: 400px;
}
h3 {
  font-size: 35px;
  margin-left: 10px;
}

p {
  margin-left: 10px;
}

.qsArr {
  margin: 10px;
}
